html {
  --basil-green: #1b1b1bdc; /*#88a308;*/

  --dark-gray: #333333;
  --light-gray: #e4e1d1;
  --light-green: #f5faef;
  --orange: rgb(211, 208, 23);
  --light-orange: #ebbd4e;
  --red: #f00;
  --max-width: 840px;
  --breakpoint: 640px;
}

* {
  margin: 0;
  padding: 0;
}

::selection {
  background: var(--dark-gray);
  color: #fff;
}

body {
  font: 100%/1.5 "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans",
    "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  color: var(--dark-gray);
  max-width: var(--max-width);
}
@media (min-width: 46.25em) {
  body {
    margin: 0 auto;
    margin-top: 1.5rem;
    display: grid;
    grid-template-areas: "header" "nav" "title" "content" "footer";
  }
}

h2,
h3 {
  color: var(--basil-green);
  margin: 8px 0;
  font-size: 1.4rem;
  letter-spacing: -1px;
}

h2 {
  font-size: 2rem;
}

h2 {
  font-size: 2rem;
  text-transform: capitalize;
}

a {
  color: var(--orange);
  text-decoration: none;
  transition: color 0.5s linear;
}

li > h4 {
  margin-top: 12px;
}

img {
  width: 100%;
  height: auto;
}

header {
  position: relative;
  height: 120px;
  background: var(--basil-green);
}
@media (min-width: 46.25em) {
  header {
    border-radius: 8px 8px 0px 0px;
    grid-area: header;
  }
}
header h1 {
  /* background: url(img/basil.png) no-repeat; */
  background: url(img/goalie_c_scale-w_200-removebg-preview.png) no-repeat;
  font-family: futura_stdlight, sans-serif;
  font-weight: normal;
  color: #fff;
  font-size: 4rem;
}
@media (min-width: 46.25em) {
  header h1 {
    padding-left: 190px; /*240*/
    padding-bottom: 50px; /*90*/
    transform: translate(-70px, 30px);
    background-position: top left;
  }
}
header a.beta {
  /* background: url("img/burst.svg") no-repeat; */
  background: url("img/ball2-removebg-preview.png") no-repeat;
  color: #fff;
  font-size: 1rem;
  position: absolute;
  top: -35px;
  right: 10px;
  width: 85px;
  height: 85px;
  line-height: 150px;
  text-align: center;
  text-transform: uppercase;
  transform: rotate(20deg);
  transition: all 1s ease;
}
header a.beta:hover {
  transform: rotate(0deg) scale(1.2);
}

.quote {
  color: #f5faef;
}

nav {
  background: var(--basil-green);
  border-top: 0.5rem solid #f5faef;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media (min-width: 46.25em) {
  nav {
    grid-area: nav;
    justify-content: space-between;
  }
}
nav ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 0.5rem;
}
nav a {
  text-align: center;
  font-size: 1rem;
  padding: 8px;
  min-width: 90px;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  display: inline-block;
}
@media (min-width: 46.25em) {
  nav a {
    min-width: 145px;
    font-size: 1.5rem;
  }
}
nav .nav-matches a {
  background: linear-gradient(to bottom, #fcde41 1%, #dfa910 100%);
}
nav .nav-matches a:hover {
  background: linear-gradient(to bottom, #dfa910 0%, #fcde41 100%);
}
nav .nav-competitions a {
  background: linear-gradient(to bottom, #6f89c7 0%, #344e8b 100%);
}
nav .nav-competitions a:hover {
  background: linear-gradient(to bottom, #344e8b 1%, #6f89c7 100%);
}
nav .nav-about a {
  background: linear-gradient(to bottom, #f88d8d 0%, #ec4141 100%);
}
nav .nav-about a:hover {
  background: linear-gradient(to bottom, #ec4141 1%, #f88d8d 100%);
}

article {
  padding: 1rem;
}
@media (min-width: 46.25em) {
  article {
    grid-column: span 3;
  }
}
article li {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}
article ol {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}
article figcaption {
  font-size: 0.75rem;
}

aside {
  padding: 1rem;
}
@media (min-width: 46.25em) {
  aside {
    grid-column: span 2;
    background: var(--light-green);
    box-shadow: -4px 0px 4px #ddd;
  }
}
aside li {
  list-style: none;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

footer {
  background-color: var(--basil-green);
  padding: 1rem;
  border-radius: 0 0 8px 8px;
  margin-bottom: 2rem;
  color: #f5faef;
}
@media (min-width: 46.25em) {
  footer {
    grid-area: footer;
  }
}

.modal {
  max-width: 600px;
  min-width: 400px;
  padding: 2rem;
  border-radius: 5px;
  min-height: 200px;
  border: 2px solid var(--orange);
  background: white;
  transform: translateY(200%);
  transition: transform 1s;
}

.open {
  display: block;
}

.closer {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 1.5rem;
  height: 1.5rem;
  background: #fff;
  color: var(--orange);
  border: 4px solid var(--orange);
  border-radius: 50%;
  text-align: center;
  line-height: 1.5rem;
  cursor: pointer;
}

.modal-outer {
  display: grid;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  /* Hide this until we need it */
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}

.modal-outer.open {
  opacity: 1;
  pointer-events: all;
}

.modal-outer.open .modal {
  transform: translateY(0);
}

@media (min-width: 480px) {
  .matches {
    grid-area: content;
    display: grid;
    /* grid-template-columns: repeat(5, 1fr); */
    grid-template-columns: [status] 10% [h-team] 30% [h-score] 10% [a-team] 30% [a-score] 10%;
    grid-gap: 1rem;
  }

  .competitions {
    grid-area: content;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: [area] 1fr [competition] 1fr;
    grid-gap: 1rem;
  }
}

.competitions {
  grid-area: content;
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: [area] 1fr [competition] 1fr;
  grid-gap: 1rem;
}

.competition {
  /* justify-self: center; */
}

.status {
  /* background-color: #658db5; */
  background: linear-gradient(to bottom, #6f89c7 0%, #344e8b 100%);
  color: #f5faef;
  border-radius: 6px;
  justify-self: center;
  padding: 5px;
}

.separator {
  grid-column: 1 / -1;
  border-top: 1px dashed #aaa;
}

.content {
  margin-top: 2rem;
  padding: 1rem;
}

/*# sourceMappingURL=styles.css.map */
